<div class="popup" *ngIf="!isHidden">
  <div class="input-cont">
    <label>{{ isUpdating.status ? "Update" : "Add" }} Task</label>
    <form [formGroup]="taskForm">
      <textarea
        (input)="onInputChange($event)"
        formControlName="task"
        rows="3"
      ></textarea>
      <div class="button-cont">
        <button class="red" (click)="closePopUp()">Cancel</button>
        <button class="green" (click)="addTasks($event)">
          {{ isUpdating.status ? "Update" : "Add" }} Task
        </button>
      </div>
    </form>
  </div>
</div>
