<div class="app">
  <app-popup />
  <div class="top">
    <ng-container *ngIf="data$ | async as data">
      <button class="add-button" (click)="showInput()" *ngIf="data.isAddActive">
        <span class="material-symbols-outlined"> add </span>
      </button>
      <app-header [tasksCount]="data.taskCount" />
    </ng-container>

    <div class="action-selector">
      <div class="action-wrapper">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >TODO
        </a>
        <a routerLink="active" routerLinkActive="active">ACTIVE</a>
        <a routerLink="inactive" routerLinkActive="active">INACTIVE</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <router-outlet></router-outlet>
  </div>
</div>
